/*Set background image and overall font*/
body {
	background-image: url(../images/circles-light.png);
	font-family: Arial, Helvetica, sans-serif;
	color: #777777; /*dark grey */
}

/*Set content width to 960px and center*/
.content {
	margin: 0 auto;
	width: 960px;
}

/*Set heading settings*/
header {
	background-color: #ffffff;
	border-bottom: 3px solid #cccccc;
	font-family: Georgia, 'Times New Roman', Times, serif;
	height:80px;
	}

/*Create a Name logo*/
.logo {
	background-color: #4aaaa5; /*Teal*/
	color: #ffffff;
	float: left;
	font-size: 24px;
	height: 50px;
	margin-top: 15px;
	padding-top: 15px;
	text-align: center;
	width: 250px;
}
/*Align pages on navigation toolbar*/
.links {
	float: right;
	height: 20px;
	margin-top: 50px;
	width: 300px;
	}

/*Remove underline on links*/
a {
	padding: 20px;
	text-decoration: none;
	}

	/* Change text color when hovering over links */
	a:hover {
		color: #FF407E; /*compound-harmony color to teal*/
	}
/*Remove default block setting of list (to allow horizontal position)*/
li {
	display: inline;
}

/*Create specs for main content - including top and bottom margins*/
section {
	background-color: #ffffff;
	border: 2px solid #dddddd;
	margin-bottom: 50px;
	margin-top: 50px;
	padding: 15px;
}

h1 {
	border-bottom: 2px solid #dddddd;
	color: #4aaaa5;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 24px;
	padding: 15px;
}

/* Resize Bio Pic */
.pic {
	height: 240px;
	width: 210px;
}

/* Make images more transparent when hovering */
img:hover {
	opacity: 0.3;
}

p {
	line-height: 1.5;
}

/* Position Images and Image Tags */
.portfolio {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}

.project-images {
	margin: 25px 75px 25px 75px;
	position: relative;
	}

/* Create and Position Project Image Tags */
.project-tag {
	background: #4aaaa5;
	bottom: 30px;
	color: #ffffff;
	font-size: 24px;
	height: 40px;
	position: absolute;
	text-align: center;
	width: 200px;
}

/* Style form fields */

input {
	border: 1px solid lightgray;
	margin-bottom: 30px;
	margin-top: 10px;
	width: 100%;
}

#name {
	height: 30px;
}

#email-address {
	height: 30px;
}

#message-box {
	border: 1px solid lightgray;
	height: 200px;
	margin-bottom: 30px;
	margin-top: 10px;
	width: 100%;
}

#submit {
	background: #4aaaa5;
	color: #ffffff;
	height: 40px;
	opacity: 0.6;
	width: 100px;
}

/* Fade in when hovering on button */
#submit:hover {
	opacity: 1.0;
	background: #FF407E;
}

/*Fixed/Sticky Footer*/
footer {
	background-color: #666666;
	border-top: 10px solid #4aaaa5;
	bottom: 0;
	color: #fff;
	font-size: 12px;
	left: 0;
	margin: 0;
	position: sticky;
	text-align: center;
	width: 100%;
}